//----------  variables
//------------------------------------------------------------------------------

$font-default: 'Helvetica', Arial, "Helvetica Neue", Helvetica, sans-serif;

// font-weights
$medium: 400;
$bold: 700;

// Colors
$white: #fff;
$black: #000;
$light-green: #34c7a0;
$green: #00b6a3;
$blue: #008aa2;
$grey: #898694;


// transitions
$dur: 300ms;
$ease: ease;

// Breakpoints
$mobile: '768px';
$tablet: '1024px';
$desktop: '1200px';

